# Defines codeowners for this repo

[Developers][2] @KoniHD 
*.cpp           @Edem @00000000014B9757
*.h             @Edem @00000000014B9757
/include/
/res/
/src/

[Documentation][1]  @KoniHD
/doc/

[Testing]          @KoniHD
/tests/

# Missing reviewers
[Reviewer]
/include/
/src/